@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.table {
    margin-right: 7px;
}

@media only screen and (max-width: 900px) {
    /* mobile */
    .title {
        margin: 20px 10px 10px 20px;
        font-family: 'Playfair Display';
    }

    .tabs {
        margin-left: 15px;
    }

    .card {
        margin: 10px 20px 10px 0px;
    }

    .button {
        margin: 0px 10px 10px 20px;
        font-family: 'Playfair Display';
    }

    .boostercard {
        min-height: 30vh;
        border-radius: 7%;
        text-align: center;
        font-family: 'Playfair Display';
    }

    .container {
        margin: 10px 20px 10px 20px;
    }
}


@media only screen and (min-width: 900px) {
    /* desktop */
    .title {
        margin: 20px 10px 10px 15px;
        font-family: 'Playfair Display';
    }

    .tabs {
        margin-left: 17px;
    }

    .card {
        width: 300;
        margin: 10px 10px 10px 0px;
    }

    .button {
        margin: 0px 10px 5px 10px;
        font-family: 'Playfair Display';
    }

    .boostercard {
        min-height: 50vh;
        text-align: center;
        font-family: 'Playfair Display';
    }

    .boostercard:hover {
        background-color: #e2e1c0;
    }
    
    .container {
        margin: 30px 20px 10px 20px;
    }
}

