@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.table {
    margin-right: 7px;
}

.button:hover {
    background-color: #e2e1c0;
    border-color: #e2e1c0;
}

@media only screen and (max-width: 900px) {
    /* mobile */
    .title {
        margin: 20px 10px 10px 20px;
        font-family: 'Playfair Display';
    }

    .tabs {
        margin-left: 15px;
    }

    .card {
        margin: 10px 20px 10px 0px;
    }

    .boostercard {
        min-height: 30vh;
        text-align: center;
        font-family: 'Playfair Display';
    }

    .container {
        margin: 10px 20px 10px 20px;
    }
}


@media only screen and (min-width: 900px) {
    /* desktop */
    .title {
        margin: 20px 10px 10px 15px;
        font-family: 'Playfair Display';
    }

    .tabs {
        margin-left: 17px;
    }

    .card {
        width: 300;
        margin: 10px 10px 10px 0px;
    }

    .boostercard {
        min-height: 50vh;
        text-align: center;
        font-family: 'Playfair Display';
    }

    .container {
        margin: 30px 20px 10px 20px;
    }
}

